@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* background: hsl(0 0% 20%); */
}

::selection{
  background-color: #101010;
  color: aqua;
}

.boujee-text {
  --bg-size: 400%;
  --color-one: hsl(202, 92%, 33%);
  --color-two: hsl(190, 95%, 55%);
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 20s infinite linear;

}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 20s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

h1{
  
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}